@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=GFS+Didot&family=Rubik+Pixels&display=swap');
body{
    
    width: 100%;
    height: 100vh;
  /*   border: 3px solid rgb(255, 0, 153); */

    background-color: #F5F5EC;
    /* background-image: url(SMILE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%; */
    /* color: #091DD0; color tipografía*/

}
.padre{
    width: 100%;
    height: 100%;
/* border: 4px solid blue; */
}
         .header{
             width: 100%;
             height: 10%;
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             align-items: flex-end;
            /*  border: 4px solid rgb(237, 128, 239); */
             line-break: normal;
        }
        .boton_logo{
         
            height: 100%;
            margin:0 auto
        
        }
            .boton{
                width: 20%;
                height: 70%;
               /*  line-height: 5px #091DD0;  */
                text-decoration: none;
                font-family: 'Abril Fatface', cursive;
                font-size: 1rem;
                color: #091DD0;
                text-align: center;
            }
            .boton:hover{
                font-size: 2rem;
                text-decoration: none;
                font-weight: bold;
                     /* animación */
                     animation: arcoiris 6s infinite linear;
            }
        .linea{
            width: 95%;
            margin: 0 auto;
            height: 1%;
            justify-self: center;
            border-bottom: 1px solid #091DD0;
            display: flex;
            flex-direction: column;
        }
    
         .body_dos{
            width: 100%;
            height: 83%;
            display: flex;
            flex-direction: column;
            justify-content: center;
/* smile fondo  */
            background-image: url(SMILE.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;


            /* border: 4px solid rgb(9, 255, 0); */
         }
               .body_dos a{
                width: 100%;
                
                color: #FAFF04;
                font-family: "futura";
                text-decoration: none;
                font-style: bold;
                font-size: 4rem;
                margin-top: 4%;
                text-align: center;
         
               }
               .body_dos a:hover{
                color: #091DD0;
                /* animación */
                animation: arcoiris 5s infinite linear;
       
               }
          
            @keyframes arcoiris{
                0%{
                    color: #091DD0;
                }
                25%{
                    color:rgb(247, 145, 244);
                }
                50%{
                    color:orange;
                }
                75%{
                    color: rgb(245, 105, 229);
                }
                90%{
                    color: #0ef5af;
                }
                100%{
                    color: #091DD0;
                }
            }
            
         .footer{
            width: 100%;
            height: 6%;
            display: flex;
            flex-direction: row;
            /* border: 4px solid rgb(230, 184, 227); */
         }
              .copy{
                width: 50%;
                color: #091DD0;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 0.6rem;
                display: flex;
                flex-direction: row;
                justify-content: right;
                text-align: center;
                margin-right: 3%;

              }
              .contacto{
                width: 50%;
                color: #091DD0;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 0.6rem;
                display: flex;
                flex-direction: row;
                display: flex;
                flex-direction: row;
                justify-content: left;
                text-align: center;
                margin-left: 3%;

              }
